__pycache__
*.key
config.h

/boot8266/boot8266
/boot8266/boot8266-0x00000.bin
/boot8266/boot8266-0x10000.bin
/boot8266/boot8266.map
/boot8266/boot8266.o
/boot8266/unaligned_printf.o
/ota_client/dump_modulus.py
/ota_server/ets_alt_task.o
/ota_server/libaxtls.a
/ota_server/main.o
/ota_server/ota.elf
/ota_server/ota.elf-0x00000.bin
/ota_server/ota.elf-0x09000.bin
/ota_server/ota.elf.map
/ota_server/ota.o
/yaota8266.bin
